
/* ADDING RESPONSIVENESS */

/* if the viewport is equal to 1000px or less than that */
/* Tablet */
@media only screen and (max-width: 1000px) {

  .header_area .main-menu .navbar .navbar-toggler{
    font-size: 16px;
    border: none;
  }
  .site-main .site-banner{
    background: url(../img/extra/peter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 560px;
    text-align: center;
    color: white;
  }
  .site-main .site-banner .site-title h3{
    text-shadow: 1px 10px 1px solid black;
    display: none;
    font-size: 40px;
  }
  .site-main .site-banner .site-title h1{
    text-shadow: 1px 10px 1px solid black;
    padding-top: 240px !important;
    line-height: 50px;
    font-family: "century gothic";
    font-size: 60px;
  }
  .site-main .site-banner .site-title h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .site-main .site-banner .site-button{
    margin: 0 auto;
  }
  .site-main .site-banner .site-button button{
    margin: 80px auto !important;
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
  
  
  
  .site-main .about-area{
    background: rgb(241, 241, 241);
    text-align: center !important;
    width: 100%;
    height: 600px !important;
  }
  .site-main .about-area .about-image{
    /* background: red; */
    text-align: center;
    padding: 0;
  }
  .site-main .about-area .about-image img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
    box-shadow: none;
  }

  .site-main .about-area .about-title{
    background: rgb(241, 241, 241);
    padding: 0;
    width: 100%;
  }
  .site-main .about-area .about-title h2{
    color: #444;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
  
  }
  .site-main .about-area .paragraph{
    text-align: center; 
    width: 100% !important;
  }
  .site-main .about-area .paragraph p{
    font-size: 14px;
    text-align: center !important; 
    width: 100%;
    padding: 0 10%;
  }
  .site-main .about-area .btn-area{
    text-align: center !important;
    padding: 0;
  }
  .site-main .about-area button{
    text-align: center !important;
    width: 120px;
    height: 40px;
    font-size: 12px;
    border: none;
  }
  
  
  
  
  .site-main .project-area {
    text-align: center;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 120px 0 100px 0;
  }
  
  .site-main .project-area .project-title{
    margin-bottom: 40px;
  }
  
  .site-main .project-area .project-title h1{
    color: #444;
    padding: 0;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
  .site-main .project-area .element-item .title{
    margin-bottom: 20px;
  }
  
  .site-main .project-area .element-item{
    margin: 0px auto;
    width: 100%;
  }
  .site-main .project-area .element-item img{
    margin: 0px auto;
    width: 300px;
  }
  .site-main .project-area .element-item h4{
    color: #444;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: none !important;
  }
  .site-main .project-area .element-item span{
    font-size: 18px !important;
  }
  .site-main .project-area .project-title{
    padding: 0 !important;
  }
  
  .site-main .project-area .button-group{
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
  }
  .site-main .project-area .button-group button{
    width: 120px;
    height: 40px;
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 10px 0px !important;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: none;
    border: none;
  }
  .site-main .project-area .button-group button:hover{
    color: rgb(20, 20, 20); 
  }
  .site-main .project-area .button-group button.active{
    color: black 
  }
  
  footer.footer-area{
    padding: 2rem 0;
    background: rgb(24, 22, 27);
  }
  footer.footer-area .site-logo a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
  }
  footer.footer-area .social h5{
    font: normal 500 14px/20px var(--roboto);
    color: rgb(190, 190, 190);
    letter-spacing: 4px;
  }
  footer.footer-area .social a > i{
    font-size: 20px;
    padding: 1rem;
    color: whitesmoke;
  }
  footer.footer-area .social a:hover > i{
    color: rgb(175, 175, 175);
  }
  footer.footer-area .copyrights p{
    font: normal 500 12px/20px var(--roboto);
    color: rgb(82, 82, 82);
  }
}

/* if the viewport is equal to 800px or less than that */
/* Mobile - large */
@media only screen and (max-width: 800px) {


  .header_area .main-menu .navbar .navbar-toggler{
    font-size: 16px;
    border: none;
  }
  .site-main .site-banner{
    background: url(../img/extra/peter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 560px;
    text-align: center;
    color: white;
  }
  .site-main .site-banner .site-title h3{
    text-shadow: 1px 10px 1px solid black;
    display: none;
    font-size: 40px;
  }
  .site-main .site-banner .site-title h1{
    text-shadow: 1px 10px 1px solid black;
    padding-top: 240px !important;
    line-height: 60px;
    font-family: "century gothic";
    font-size: 60px;
  }
  .site-main .site-banner .site-title h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .site-main .site-banner .site-button{
    margin: 0 auto;
  }
  .site-main .site-banner .site-button button{
    margin: 60px auto !important;
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
  
  
  
  .site-main .about-area{
    background: rgb(241, 241, 241);
    text-align: center !important;
    width: 100%;
    height: 600px !important;
    margin-bottom: 60px;
  }
  .site-main .about-area .about-image{
    /* background: red; */
    text-align: center;
    padding: 0;
  }
  .site-main .about-area .about-image img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
  }
  .site-main .about-area .about-title{
    background: rgb(241, 241, 241);
    padding: 0;
    width: 100%;
  }
  .site-main .about-area .about-title h2{
    color: #444;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
  
  }
  .site-main .about-area .paragraph{
    text-align: center; 
    width: 100% !important;
  }
  .site-main .about-area .paragraph p{
    font-size: 14px;
    text-align: center !important; 
    width: 100%;
    padding: 0 10%;
  }
  .site-main .about-area .btn-area{
    text-align: center !important;
    padding: 0;
  }
  .site-main .about-area button{
    text-align: center !important;
    width: 120px;
    height: 40px;
    font-size: 12px;
    border: none;
  }
  
  .site-main .project-area {
    text-align: center;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 0px;
  }
  
  .site-main .project-area .project-title{
    margin-top: 100px;
    margin-bottom: 80px;
  }
  
  .site-main .project-area .project-title h1{
    color: #444;
    padding: 0;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
  .site-main .project-area .element-item .title{
    margin-bottom: 20px;
  }
  
  .site-main .project-area .element-item{
    margin: 0px auto;
    width: 100%;
  }
  .site-main .project-area .element-item img{
    margin: 0px auto;
    width: 100%;
  }
  .site-main .project-area .element-item h4{
    color: #444;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: none !important;
  }
  .site-main .project-area .element-item span{
    font-size: 16px !important;
  }
  .site-main .project-area .project-title{
    padding: 0 !important;
  }
  
  .site-main .project-area .button-group{
    display: none;
    text-align: center;
  }
  .site-main .project-area .button-group button{
    width: 160px;
    height: 40px;
    color: rgb(131, 131, 131);
    text-align: center;
    padding: 30px 0px !important;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: none;
    border: none;
  }
  .site-main .project-area .button-group button:hover{
    color: rgb(20, 20, 20); 
  }
  .site-main .project-area .button-group button.active{
    color: black 
  }
  

}

/* if the viewport is equal to 500px or less than that */
/* Mobile - medium and small */
@media only screen and (max-width: 500px) {


  .site-main .site-banner .site-title h3{
    text-shadow: 1px 10px 1px solid black;
    display: none;
    font-size: 40px;
  }
  .site-main .site-banner .site-title h1{
    text-shadow: 1px 10px 1px solid black;
    padding-top: 240px !important;
    line-height: 60px;
    font-family: "century gothic";
    font-size: 30px;
  }
  .site-main .site-banner .site-title h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .site-main .site-banner .site-button{
    margin: 0 auto;
  }
  .site-main .site-banner .site-button button{
    margin: 60px auto !important;
    padding: 0;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 40px;
  }

  .site-main .project-area {
    text-align: center;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0 !important;
  }
  
  .site-main .project-area .project-title{
    margin-top: 200px;
    margin-bottom: 80px;
  }
  
}